
body {
  margin: 0;
  overflow:auto;
  font-family: "Rosario";
  /* font-family: sans-serif; */
  text-decoration: none;
}

html { 
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box
}

main {
  /* background-color: rgba(192, 192, 192, 0.4);  rgba - much easier to use this versus using opacity because it only affects the specific element  */
  background-color: #E5EFF5;
  height: 100vh;
  width: 400px;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
}

a {
  text-decoration: none;
}

.middle-body { 
  margin-left: 170px;
  background-color: #E5EFF5;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.habit-group {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.habit-container {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Arial";
}

.habit {
  width: 250px;
  height: 100px;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.plus {
  width: 50px;
  height: 100px;
  background-color: aquamarine;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.minus {
  width: 50px;
  height: 100px;
  background-color: slategrey;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

/* Habit Add */


.add {
  text-align: left;
  align-items: left;
  justify-content: left;
}


.habit-add-input { 
  /* color: rgb(0 0 0); */
  border-radius: 0.375rem;
  /* flex: 1 1 0%; */
  outline: none;
  border: none;
  padding: 5px;
}

.habit-add-input:focus { 
  outline: none;
}


.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}


.delete-btn {
  display: none;
  background: none;
  border: none;
}

.title:hover > .delete-btn {
  display: block;
}

.trash-icon {
  cursor: pointer;
}

.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
      0 0 0 2px,
      inset -2px 0 0,
      inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px
} 

.plus-icon { 
  width:20px;
}

.minus-icon {
  width: 20px;
}

.delete-icon { 
  width: 20px;
}

.box { 
  background-color: #ebedf0;
  width: 11px;
  height: 11px;
  border: 1px solid;
  border-color: rgba(27, 31, 35, 0.3); /* rgba helps with the opacity on the border making it less thick */
}

.contribution-graph-box-container { 
  border: 1px solid;
  width: 900px;
  height: 170px;
  align-items: center;
  justify-content: left;
  /* background-color: rgba(192, 192, 192, 0.8);  this is grey */ 
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(0,0,0,0.4);
  border-radius: 5px;
  display: flex;
}

.contribution-graph-legend { 
  display: flex;
  font-size: 12px;
  gap: 4px;
  /* align-items: baseline; */
  align-content: flex-end;
  align-self: flex-end;
  justify-content: flex-end;
  padding-right: 5px;
}

.contribution-graph-days { 
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 15px;
  padding-left: 20px;
  padding-top: 6px;
}

.contribution-graph-months { 
  display: flex;
  flex-direction: row;
  width: 800px;
  align-self: flex-start;
  padding-top: 15px;
  font-size: 13px;
  padding-left: 5px;
}

.contribution-graph-parent{ 

}

.box-container{ 
  width: 100px;
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  column-gap: 4px;
  row-gap: 4px;
  padding: 20px 20px;
}

.box2-container { 
  width: 815px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
  column-gap: 4px;
  row-gap: 4px;
  padding: 5px 5px 5px 5px;
}

/* Timer CSS */



/* General Text */

.black-text { 
  color: black;
}


/* Header */


header { 
  background-color: #D0E1E9;
  height: 40px;
  width: auto;
  text-align: center;
  margin-left: 170px;
}

.header-container{ 
  padding-top: 10px;
  display: flex;
  justify-content: right;
  gap: 5px;
  margin-right: 5px;
}

.header-settings-icon { 
  width: 20px;
  height: 20px;
}

.header-help-icon { 
  width: 20px;
  height: 20px;
}


/* SideBar  */

nav { 
  height: 100%;
  width: 170px;
  position: fixed;
  background-color: white;
  border-radius: 2px;
  top: 0;
}

ul { 
  line-height: 40px;
  padding-left: 0px;
}

.sidebar-title { 
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.sidebar-title { 
  font-size: 30px; 
  font-color: black;
}

.sidebar-list { 
  padding-top: 5px;
  text-indent: 15px; /* use this instead of padding/margin to make the div the entire block */
}

.sidebar-list-block { 
  margin-bottom: 5px;
  display: flex;  /* use flex inside the list to make it easier to center the icons */ 
  align-items: center;
}

.active-sidebar { 
  color: grey;
  font-color: yellow;
  text-decoration:none;
}

.inactive-sidebar { 
  color: yellow;
  font-color: yellow;
  text-decoration:none;

}

.sidebar-text { 
  font-size: 15px; 
  color: black;
  margin: 0;
  padding: 0;
}

.sidebar-mango-icon { 
  width: 35px;
}

.sidebar-habittracker-icon { 
  width: 26px;
  margin-left: 20px;
}

.sidebar-pomodoro-icon { 
  width: 26px;
  margin-left: 20px;
}

.sidebar-analytics-icon { 
  width: 26px;
  margin-left: 20px;
}

/* Habit Tracker page */

.contribution-graphs-container { 
  flex-direction: column;
}


.basic-button { 
  background-color: grey;
  color: grey;
}

.break {
  flex-basis: 100%;
  height: 0;
}


/* Pomodoro page */

.main-body { 
  /* background-color: rgba(192, 192, 192, 0.4);  rgba - much easier to use this versus using opacity because it only affects the specific element */
  background-color: #E5EFF5;
  height: 100vh;
  width: 400px;
  border-radius: 5px;
  /* display: flex; */
  padding: 20px;
  flex-direction: row;
  justify-content: center;
}

.pomodoro-box { 
  padding-bottom: 20px;
}


/* Loading Spinner */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container { 
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
  height: 300px;
}

.loading-spinner {
  width: 30px;
  height: 30px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

/* Home Page */

.home-container {
  margin: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 450px;
}

.home-heading { 
  box-sizing: border-box;
  border-bottom: 1px solid;
}

.home-title { 
  letter-spacing: 1px;
  padding-left: 50px;
}

.headline-container{ 
  display: flex;
  padding: 30px;
  height: 325px;
  aligin-items: center;
  justify-content: space-around;
}

.headline { 
  font-size: 34px;
  font-weight: 350;
  margin-right: 25px;
  width: 300px;
  line-height: 1.5em;
}

.feature-container { 
  display: flex;
  margin-right: 30px;
  width: 300px;
}

.login-button { 
  width: 50px;
}

.separator { 
  padding: 5px;
}



.main-mango-icon { 
  width: 35px;
}

.home-login-button-container { 
  width: 250px;
  margin: auto;
}


.github-link {
  margin-top: 30px;
  color: #1D2437;
  background: #ff92e0;
  padding: 20px 50px 20px 50px;
  font-family: "Akkurat", "Helvetica Neue", sans-serif;
  width: 170px;
  text-align: center;
  letter-spacing: 1.5px;
}

.access-container { 

}

/* Not Found */

.not-found-text { 
  padding-left: 20px;
}