body {
  margin: 0;
  padding: 20px;
  overflow:auto;
}

* {
  box-sizing: border-box
}

main {
  background-color: rgba(192, 192, 192, 0.4);  /*rgba - much easier to use this versus using opacity because it only affects the specific element */
  height: 600px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.habit-group {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.habit-container {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.habit {
  width: 250px;
  height: 100px;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.plus {
  width: 50px;
  height: 100px;
  background-color: aquamarine;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.minus {
  width: 50px;
  height: 100px;
  background-color: slategrey;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.add {
  text-align: left;
  align-items: left;
  justify-content: left;
}



.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}


.delete-btn {
  display: none;
  background: none;
  border: none;
}

.title:hover > .delete-btn {
  display: block;
}

.trash-icon {
  cursor: pointer;
}

.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
      0 0 0 2px,
      inset -2px 0 0,
      inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px
} 

.plus-icon { 
  width:20px;
}

.minus-icon {
  width: 20px;
}

.delete-icon { 
  width: 20px;
}

.box { 
  background-color: #ebedf0;
  width: 11px;
  height: 11px;
  border: 1px solid;
}

.contribution-graph-box-container { 
  border: 1px solid;
  width: 845px;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-color: rgba(192, 192, 192, 0.8);
}

.box-container{ 
  width: 100px;
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  column-gap: 4px;
  row-gap: 4px;
  padding: 20px 20px;
}

.box2-container { 
  width: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
  column-gap: 4px;
  row-gap: 4px;
  padding: 20px 20px;
}


/* Timer CSS */



/* General Text */

.white-text { 
  color: white;
  text-decoration: none;
}


/* NavBar  */

.navbar-line { 
  width: 80%;
}

.app-line { 
  width: 95%;
}


/* Habit Tracker page */

.contribution-graphs-container _{ 
  flex-direction: column;
}