body {
  margin: 0;
  overflow:auto;
  font-family: Arial;
  background-color: #557A95;
}

* {
  box-sizing: border-box
}

main {
  background-color: rgba(192, 192, 192, 0.4);  /*rgba - much easier to use this versus using opacity because it only affects the specific element */
  height: 600px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
}

.middle-body { 
  margin-left: 160px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.habit-group {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.habit-container {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.habit {
  width: 250px;
  height: 100px;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.plus {
  width: 50px;
  height: 100px;
  background-color: aquamarine;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.minus {
  width: 50px;
  height: 100px;
  background-color: slategrey;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.add {
  text-align: left;
  align-items: left;
  justify-content: left;
}



.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}


.delete-btn {
  display: none;
  background: none;
  border: none;
}

.title:hover > .delete-btn {
  display: block;
}

.trash-icon {
  cursor: pointer;
}

.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
      0 0 0 2px,
      inset -2px 0 0,
      inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px
} 

.plus-icon { 
  width:20px;
}

.minus-icon {
  width: 20px;
}

.delete-icon { 
  width: 20px;
}

.box { 
  background-color: #ebedf0;
  width: 11px;
  height: 11px;
  border: 1px solid;
  border-color: rgba(27, 31, 35, 0.3); /* rgba helps with the opacity on the border making it less thick */
}

.contribution-graph-box-container { 
  border: 1px solid;
  width: 900px;
  height: 170px;
  align-items: center;
  justify-content: left;
  /* background-color: rgba(192, 192, 192, 0.8);  this is grey */ 
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(0,0,0,0.4);
  border-radius: 5px;
  display: flex;
}

.contribution-graph-legend { 
  display: flex;
  font-family: Arial;
  font-size: 12px;
  gap: 4px;
  /* align-items: baseline; */
  align-content: flex-end;
  align-self: flex-end;
  justify-content: flex-end;
  padding-right: 5px;
}

.contribution-graph-days { 
  display: flex;
  flex-direction: column;
  font-family: Arial;
  font-size: 13px;
  gap: 15px;
  padding-left: 20px;
  padding-top: 6px;
}

.contribution-graph-months { 
  display: flex;
  flex-direction: row;
  width: 800px;
  align-self: flex-start;
  padding-top: 15px;
  font-size: 13px;
  padding-left: 5px;
}

.contribution-graph-parent{ 

}

.box-container{ 
  width: 100px;
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  column-gap: 4px;
  row-gap: 4px;
  padding: 20px 20px;
}

.box2-container { 
  width: 815px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
  column-gap: 4px;
  row-gap: 4px;
  padding: 5px 5px 5px 5px;
}

/* Timer CSS */



/* General Text */

.white-text { 
  color: white;
  text-decoration: none;
}



header { 
  background-color: #557A95;
  height: 80px;
  width: auto;
  text-align: center;
}

.mango-icon {
  width: 20px;
}


/* NavBar  */

nav { 
  height: 100%;
  width: 160px;
  position: fixed;
  /* z-index: 1;  */
  background-color: #557A95;
  border-radius: 2px;
}

.navbar-line { 
  width: 80%;
}

.app-line { 
  width: 95%;
}


/* Habit Tracker page */

.contribution-graphs-container { 
  flex-direction: column;
}


.basic-button { 
  background-color: grey;
  color: grey;
}


/* Pomodoro page */

.main-body { 
background-color: rgba(192, 192, 192, 0.4);  /*rgba - much easier to use this versus using opacity because it only affects the specific element */
height: 600px;
width: 400px;
border-radius: 5px;
/* display: flex; */
padding: 20px;
flex-direction: row;
justify-content: center;
}